.land{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 620px;
}
.square {
  background-color: #b42235;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
}

.square > p {
  color: azure;
  text-align: center;
  font-weight: bold;
    white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.card{
  padding: 10px;
}

.space{
  padding-top: 30px;
}

.spacePadding{
  padding: 7px 0px !important;
}

.landingImage{
  position: fixed !important;
  height: 100px;
  z-index: 0;
}
.logo{
  position: absolute;
  z-index: 2;
  padding: 10px;
}
.landingItems{
  position: relative;
  z-index: 1;
}

.landingContainer{
  position: relative;
  z-index: 1;
  padding: 20px;
  background-color: rgba(255,255,255,.8);
}